:root {
	--bg-sedans: hsl(31, 77%, 52%);
	--bg-suvs: hsl(184, 100%, 22%);
	--bg-luxury: hsl(179, 100%, 13%);
	--paragraph: hsla(0, 0%, 100%, 0.75);
	--bg-head-button: hsl(0, 0%, 95%);

	--font-big-shoulders: 'Big Shoulders Display', cursive;
   --font-lexend: 'Lexend Deca', sans-serif;
}

html, body {
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII="), auto;
}

body  {
	background-color: var(--bg-head-button);
	color: var(--paragraph);
	font-family: var(--font-lexend);
	font-size: 15px;
	min-width: 100vw;
	min-height: 100vh;
}

h1,
h2 {
	font-size: 2rem;
	font-family: var(--font-big-shoulders);
	margin: 2rem 0;
}

h2 {
	text-transform: uppercase;
}

p {
	line-height: 1.5;
}

::before {
	display: block;
	margin-bottom: 1.5rem;
}

button, a {
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC"), pointer;
}