.btn {
	background-color: var(--bg-head-button);
	border: 2px solid var(--bg-head-button);
	border-radius: 50px;
	font-size: .9rem;
	padding: .8rem 1rem;
	width: 50%;
}

.btn_sedans {
	color: var(--bg-sedans);
}

.btn_suvs {
	color: var(--bg-suvs);
}

.btn_luxury {
	color: var(--bg-luxury);
}

.btn:hover {
	background-color: transparent;
	color: var(--bg-head-button);
}