.cars_option {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	grid-row-gap: 1.5rem;
}

.sedans {
	background-color: var(--bg-sedans);
}

.suvs {
	background-color: var(--bg-suvs);
}

.luxury {
	background-color: var(--bg-luxury);
}

.title_sedans::before  {
	content: url("../assets/icon-sedans.svg");
}

.title_suvs::before  {
	content: url("../assets/icon-suvs.svg");
}

.title_luxury::before  {
	content: url("../assets/icon-luxury.svg");
}

@media screen and (max-width: 1000px) {
	.sedans {
		border-radius: 10px 10px 0 0;
	}

	.suvs {
		background-color: var(--bg-suvs);
	}

	.luxury {
		border-radius: 0 0 10px 10px;
	}	
}

@media screen and (min-width: 1000px) {
	.cars_option {
		justify-content: space-between;
	}

	.sedans {
		border-radius: 10px 0 0 10px;
	}

	.suvs {
		background-color: var(--bg-suvs);
	}

	.luxury {
		border-radius: 0 10px 10px 0;
	}	
}